{
    "env": {
      "es2020": true,
      "node": true,
      "jest": true
    },
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "semi": "off",
      "quotes": ["error", "single"],
      "no-console": "off",
      "prettier/prettier": "error",
      "no-use-before-define": ["error", { "functions": false }],
      "no-restricted-syntax": "off",
      "no-useless-constructor": "off",
      "global-require": "off",
      "consistent-return": "off",
      "no-plusplus": "off",
      "no-underscore-dangle": "off",
      "no-empty-function": ["error", { "allow": ["constructors"] }],
      "no-nested-ternary": "off",
      "max-classes-per-file": "off",
      "no-param-reassign": "error",
      "default-case": "off",
      "symbol-description": "off",
      "no-empty": "off",
      "no-void": "off",
      "class-methods-use-this": "off",
      "prefer-promise-reject-errors": "error",
      "no-case-declarations": "error"
    }
  }
  